html, body {
  height: 100%;
  margin: 0px;
}

body {
  font-family: Poppins;
}

.container-fluid {
  background-color: $light-purple;
  height: 100%;
  padding-left: 0;
}

a {
  color: $purple;
  text-decoration: none;

  &:hover {
    color: $dark-purple;
  }
}

.content {
  margin-top: 70px;
}