.btn-purple {
  color: #fff;
  background-color: $purple;
  border-color: $purple;

  &:hover {
    background-color: $dark-purple;
    border-color: $dark-purple;
  }
}

.btn-outline-purple {
  color: $purple;
  border: 1px solid $purple;

  &:hover {
    background-color: $purple;
    border-color: $purple;
    color: white;
  }
}